/* Create original styling for webpage */

/* Create different styling per catagory */

/* Create flexbox layout */

/* Create mobile design */
:root {
    --neutral : rgb(156, 149, 149);
    --incorrect: rgb(163, 78, 78);
    --correct: rgb(125, 194, 132);
}

body {
    background-color: var(--neutral);
}

h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 5em;
    color: rgb(0, 0, 0);
    padding: 0em;
    margin: 0.5vh;
    text-align: center;
}

.container{
    height: 98vh;
    display: flex;
    flex-flow: column;
}

.column {
    display: flex;
    flex-flow: row;
    height: 100%;
}

.icon {
    height: 100px;
}

.catagoryNumber{
    font-size: 1em;

}

/* .subCatagoryTrack {
    /* Use this to create space between image/number/percent in catagoryTrack  */


.catagoryTrack{
    display: flex;
    justify-content: space-between;
    height: 100%;
    flex-direction: column;
    flex: 1;
    text-align: center;
    margin-top: 0em;
}

.catagoryTitle {
    font-family: 'Koulen', cursive;
    font-size: 2em;
    margin-top: 0em;
}

/* .questionCard {

} */

#questionAnswer{
    display: flex;
    height: 100%;
    flex-direction: column;
    flex: 4;
    font-size: 3em;
    font-family: 'Source Sans Pro', sans-serif;
}

#question {
    flex-basis: 40%;
    display: flex;
    text-align: center;
    align-items: center;
    max-width: 60vw;
    min-width: 40vw;
}

.answerGrid {
    flex-basis: 20%;
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 20px;
}

.btn {
    /* --hue: var(--hue-neutral);
    border: 1px solid hsl(var(--hue), 100%, 30%);
    background-color: hsl(var(--hue), 100%, 50%); */
    border-radius: 5px;
    color: black;
    outline: none;
}

.btn:hover {
    background-color: rgb(114, 114, 118);
}

.btn.correct {
    background-color: var(--correct);
}

.btn.incorrect {
    background-color: var(--incorrect);
}

.startButton, .nextButton {
    font-size: 1.5rem;
    font-weight: bold;
}

.controls{
    flex-basis: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}

.roundGlobalTracking{
    display: flex;
    justify-content: space-between;
    height: 100%;
    flex-direction: column;
    flex: 1;
    text-align: center;
    font-family: 'Koulen', cursive;
    font-size: 2em;
    margin-top: 0em;
}

.roundOne {
    font-family: 'Koulen', cursive;
    font-size: 2em;
}

.roundTwo {
    font-family: 'Koulen', cursive;
    font-size: 2em;
}

.roundThree {
    font-family: 'Koulen', cursive;
    font-size: 2em;
}

.globalTracking {
    font-family: 'Koulen', cursive;
    font-size: 2em;
    line-height: 1.0;
}

h3 {
    font-weight: normal;
    margin-top: 0em;
}
